
<section class="repassword">
    <div class="container">
      <div class="w-3/4 mx-auto">
      <form [formGroup]="rePasswordForm" (ngSubmit)="submitRePassword()" class="my-6">
          <h2 class="font-bold my-3 text-center text-2xl">Set New Password</h2>
          <label class="font-bold" for="email">Email</label>
          <input formControlName="email" type="email" name="email"  class="w-full rounded bg-slate-300" >
          @if(rePasswordForm.get('email')?.errors && rePasswordForm.get('email')?.touched){
              <div class="p-4 mb-4 mt-3 text-sm text-red-900 rounded-lg bg-red-100" role="alert">
                  @if(rePasswordForm.get('email')?.errors?.['required']){
                      <span class="font-medium flex justify-between">Email is required <i class="fa-solid fa-circle-exclamation"></i></span> 
                  }@else if(rePasswordForm.get('email')?.errors?.['email']){
                      <span class="font-medium flex justify-between ">Please Enter Valid Email ! <i class="fa-solid fa-circle-exclamation"></i></span> 
                  }@else if(rePasswordForm.get('email')?.errors?.['pattern']){
                      <span class="font-medium flex justify-between ">The "&#64;" symbol is required in email addresses.<i class="fa-solid fa-circle-exclamation"></i></span> 
                  }
                </div>
          }
          <label class="font-bold" for="email">New Password</label>
          <input formControlName="newPassword" type="password" name="newPassword" class="w-full rounded">
          @if(rePasswordForm.get('newPassword')?.errors && rePasswordForm.get('newPassword')?.touched){
              <div class="my-2 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400">
                @if(rePasswordForm.get('newPassword')?.errors?.['required']){
                  <p class="font-medium">password is required </p> 
                }@else if(rePasswordForm.get('newPassword')?.errors?.['minlength']){
                  <p class="font-medium">password must be at least 8 characters</p>
                }@else if(rePasswordForm.get('newPassword')?.errors?.['pattern']){
                  <p class="font-medium">password must contain at least one uppercase letter and one special character</p>
                }
              </div>
            }
          <button class="bg-main py-2 px-3 rounded text-white my-3">
              @if(isLoading){
                  <span><i class="fa fa-spin fa-spinner"></i></span>
              }@else{ 
                  <span>Submit</span>
              }
          </button>
      </form>
      </div>

    </div>
    </section>
    