footer {
    padding: 80px;
    background-color: #f0f3f2;
}
@media (max-width:640px){
    span{
        font-size: 15px;
        object-fit: contain;
    }
    .apps{
        flex-direction: column;
    }
    .apps span{
        margin: 10px 0px;
    }
    .payment span{
        object-fit: contain;
        width: fit-content;
    }
}