<footer>
    <h3>Get the FreshCart app</h3>
    <p>We will send you a link, open it on your phone to download the app</p>
    <div class="d-flex justify-content-around">
        <input type="email" class="form-control" placeholder="Email .." >
        <button class="btn btn-success  share-btn">Share App link</button>
    </div>
    <hr class="w-90 mx-auto">
    <div class="row justify-content-between  m-0">
        <div class="col-12 col-md-4">
            <div class="d-flex justify-content-start align-items-center">
                <h5 class=""> Payment Partners</h5>
                <!-- <img src="assets/images/amazon-pay.png" class="pay-img" alt="amazon-pay"> -->
                <!-- <img src="assets/images/American-Express-Color.png" class="pay-img" alt="amazon-pay"> -->
                <!-- <img src="assets/images/mastercard.webp" class="pay-img" alt="amazon-pay"> -->
                <!-- <img src="assets/images/paypal.png" class="pay-img" alt="amazon-pay"> -->
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="d-flex justify-content-end align-items-center">
                <p class="m-0">Get deliveries with FreshCart</p>
                    <!-- <img src="assets/images/get-apple-store.png" class="store-img" alt="apple-store"> -->
                    <!-- <img src="assets/images/get-google-play.png" class="store-img" alt="google-play"> -->
            </div>
        </div>
    </div>
    <hr class="w-90 mx-auto">
    
</footer>