footer {
    padding: 80px;
    background-color: #f0f3f2;
}
@media (max-width:640px){
    span{
        font-size: 10px;
        object-fit: contain;
    }
    .payment{
        flex-direction: column;
    }
}