<section class="login">
  <div class="w-75 mx-auto">
    <h1 class="h4 mt-3">Login Now</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="my-3">
        <label for="email">email:</label>
        <input formControlName="email" type="email" id="email" class="form-control" >
        @if(loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched){
          <div class="alert alert-danger p-0 mt-1">
            @if(loginForm.get('email')?.errors?.['required']){
              <p class="p-1 m-0">Email is required </p> 
            }
            @else if(loginForm.get('email')?.errors?.['email']){
              <p class="p-1 m-0">Enter Valid Email </p> 
            }
          </div>
        }
      </div>
      <div class="my-3">
        <label for="password">password:</label>
        <input  formControlName="password" type="password" id="password" class="form-control">
        @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
          <div class="alert alert-danger p-0 mt-1">
            @if(loginForm.get('password')?.errors?.['required']){
              <p class="p-1 m-0">password is required </p> 
            }@else if(loginForm.get('password')?.errors?.['minlength']){
              <p class="p-1 m-0">password must be at least 8 characters</p>
            }@else if(loginForm.get('password')?.errors?.['pattern']){
              <p class="p-1 m-0">password must contain at least one uppercase letter and one special character</p>
            }
          </div>
        }
      </div>
      @if (errLoginMsg) {
        <div class="alert alert-danger p-1 my-1">
          <p class="p-1 my-1">{{errLoginMsg}}</p>
        </div>
      }
     
      <button class="btn btn-success mb-3 ms-auto d-block">
        @if(successLogedIn){
          <span> <i class="fa fa-spin fa-spinner small"></i></span>
        }@else{
          <span>Login</span>
        }
      </button>
    </form>
  </div>
</section>
