<section class="login py-5">
  <div class="container mx-auto flex justify-center items-center px-4">
    <div class="w-full md:w-3/4 lg:w-1/2 p-6 rounded-lg shadow-sm">
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <h1 class="font-medium text-xl md:text-2xl text-center my-3">Login Now</h1>
        <div class="my-3">
          <label class="font-bold block mb-1" for="email">Email</label>
          <input formControlName="email" type="email" id="email" class="w-full rounded p-2 border" >
          @if(loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched){
            <div class="my-2 p-3 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400">
              @if(loginForm.get('email')?.errors?.['required']){
                <span class="font-medium">Email is required</span> 
              }
              @else if(loginForm.get('email')?.errors?.['email']){
                <span class="font-medium">Enter Valid Email</span> 
              }
            </div>
          }
        </div>
        <div class="my-3">
          <label class="font-bold block mb-1" for="password">Password</label>
          <input formControlName="password" type="password" id="password" class="w-full rounded p-2 border">
          @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
            <div class="my-2 p-3 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400">
              @if(loginForm.get('password')?.errors?.['required']){
                <span class="font-medium">Password is required</span> 
              }@else if(loginForm.get('password')?.errors?.['minlength']){
                <span class="font-medium">Password must be at least 8 characters</span>
              }@else if(loginForm.get('password')?.errors?.['pattern']){
                <span class="font-medium">Password must contain at least one uppercase letter and one special character</span>
              }
            </div>
          }
        </div>
        @if (errLoginMsg) {
          <div class="my-2 p-3 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400">
            <p class="font-medium">{{errLoginMsg}}</p>
          </div>
        }
       
        <div class="flex flex-col items-center">
          <button class="bg-main w-full sm:w-2/3 md:w-1/2 px-4 py-2 my-4 rounded text-white">
            @if(successLogedIn){
              <span><i class="fa fa-spin fa-spinner small"></i></span>
            }@else{
              <span>Login</span>  
            }
          </button>
          <div class="flex flex-col items-center w-full">
            <a class="text-center cursor-pointer underline text-blue-700 mb-2" routerLink="/forgetpassword">Forgot Password</a>
            <a class="text-center cursor-pointer text-blue-700" routerLink="/register">Sign Up</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>