
<section class="forgetpassword">
<div class="container">
    <div class="w-3/4 mx-auto">
        <form [formGroup]="ForgetPasswordForm" (ngSubmit)="sendMail()" class="my-40">
            <h2 class="font-bold my-3 text-center text-2xl">Confirm Password</h2>
            <label class="font-bold" for="email">Email</label>
            <input formControlName="email" type="email" name="email" class="w-full rounded">
            @if(ForgetPasswordForm.get('email')?.errors && ForgetPasswordForm.get('email')?.touched){
                <div class="p-4 mb-4 mt-3 text-sm text-red-900 rounded-lg bg-red-100" role="alert">
                    @if(ForgetPasswordForm.get('email')?.errors?.['required']){
                        <span class="font-medium flex justify-between">Email is required <i class="fa-solid fa-circle-exclamation"></i></span> 
                    }@else if(ForgetPasswordForm.get('email')?.errors?.['email']){
                        <span class="font-medium flex justify-between ">Please Enter Valid Email ! <i class="fa-solid fa-circle-exclamation"></i></span> 
                    }@else if(ForgetPasswordForm.get('email')?.errors?.['pattern']){
                        <span class="font-medium flex justify-between ">The "&#64;" symbol is required in email addresses.<i class="fa-solid fa-circle-exclamation"></i></span> 
                    }
                  </div>
            }
            
            <button class="bg-main py-2 px-3 rounded text-white my-3">
                @if(isLoading){
                    <span><i class="fa fa-spin fa-spinner"></i></span>
                }@else{ 
                    <span>Send Mail</span>
                }
            </button>
        </form>
    </div>
</div>
</section>
